<div class="author">
    <h1 class="author_heading">
        Hi I'm Yasmine
    </h1>
    <p class="author_body">
        Web Dev and data scientist
    </p>
</div>
<img src="/img/hero-image.webp" alt="person looking out through window" class="hero_image" width="981" height="528" />

<section class="articles">
    <h2 class="article_heading">
        Latest Posts
    </h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>

            <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article_list_date"><%= post.CreatedAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
        
    </ul>
    <a href="" class="pagination">&lt; View Older Posts</a>
</section>